In [9]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
from datetime import datetime
import pytz
import pandas as pd
import numpy as np
import joblib
from fastapi import FastAPI
from fastapi.middleware.cors import CORSMiddleware
from PD_LOAN_PREDICTION.utils import get_file_names, none_norm, df_optimized, get_dfs, missing_data, plot_stats, replace_none_values, get_pickle_gcp, missing_data, get_joblib_gcp, get_processor_gcp

In [11]:
# pipeline = get_model_from_gcp() OKEI
model = get_joblib_gcp(bucket="wagon-data-618-le-banq", file_path='model/no_bureau_model_lgbm.sav')

In [12]:
no_bureau_df = get_pickle_gcp(file_path='model/no_bureau_df.pkl')

In [13]:
X = no_bureau_df.drop(columns='TARGET')
y = no_bureau_df['TARGET']

In [14]:
X.columns

Index(['CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'ORGANIZATION_TYPE', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_YEAR', 'ANNUITY_OVER_CREDIT_RATIO',
       'NAME_INCOME_TYPE_Businessman', 'NAME_INCOME_TYPE_Commercial associate',
       'NAME_INCOME_TYPE_Maternity leave', 'NAME_INCOME_TYPE_Pensioner',
       'NAME_INCOME_TYPE_State servant', 'NAME_INCOME_TYPE_Student',
       'NAME_INCOME_TYPE_Unemployed', 'NAME_INCOME_TYPE_Working',
       'NAME_INCOME_TYPE_nan', 'OCCUPATION_TYPE_Accountants',
       'OCCUPATION_TYPE_Cleaning staff', 'OCCUPATION_TYPE_Cooking staff',
       'OCCUPATION_TYPE_Core staff', 'OCCUPATION_TYPE_Drivers',
       'OCCUPATION_TYPE_HR staff', 'OCCUPATION_TYPE_High skill tech staff',
       'OCCUPATION_TYPE_IT staff', 'OCCUPATION_TYPE_Laborers',
       'OCCUPATION_TYPE_Low-skill Laborers', 'OCCUPATION_TYPE_Managers',
       'OCCUPATION_TYPE_Medicine staff',
       'OCCUPATION_TYPE_Private service staff',
       'OCCUPATION_TYPE_Realty agents', 'OCCUPATION_TYPE_Sales staff',
       'OCCUPATION_TYPE_Secretaries', 'OCCUPATION_TYPE_Security staff',
       'OCCUPATION_TYPE_Waiters/barmen staff', 'OCCUPATION_TYPE_nan',
       'NAME_CONTRACT_TYPE_Cash loans_mean',
       'NAME_CONTRACT_TYPE_Consumer loans_mean', 'NAME_CONTRACT_TYPE_POS_mean',
       'NAME_CONTRACT_TYPE_Revolving loans_mean', 'NAME_PORTFOLIO_Cards_mean',
       'NAME_PORTFOLIO_Cars_mean', 'NAME_PORTFOLIO_Cash_mean',
       'NAME_PORTFOLIO_POS_mean', 'NAME_CONTRACT_STATUS_Approved_mean',
       'NAME_CONTRACT_STATUS_Canceled_mean',
       'NAME_CONTRACT_STATUS_Refused_mean',
       'NAME_CONTRACT_STATUS_Unused offer_mean', 'AMT_ANNUITY_min',
       'AMT_ANNUITY_max', 'AMT_ANNUITY_mean', 'CREDIT_TO_ANNUITY_RATIO_mean',
       'CREDIT_TO_ANNUITY_RATIO_max', 'APPLICATION_CREDIT_DIFF_min',
       'APPLICATION_CREDIT_DIFF_max', 'APPLICATION_CREDIT_DIFF_mean',
       'PREV_REFUSED_COUNT_mean', 'PREV_APPROVED_COUNT_mean', 'AMT_PAYMENT',
       'LATE_PAY', 'AMT_MISS', 'with_previous'],
      dtype='object')

In [15]:
predicted_values = model.predict(X)

In [16]:
unique, counts = np.unique(predicted_values, return_counts=True)
dict(zip(unique, counts))

{0: 83803, 1: 6559}

In [17]:
unique, counts = np.unique(y, return_counts=True)
dict(zip(unique, counts))

{0: 83284, 1: 7078}

In [35]:
predicted_values[90361]

1

In [36]:
example_df = pd.DataFrame(X.iloc[90361])

In [37]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.width', None):
        print(example_df)

                                                307509
CNT_CHILDREN                                  0.000000
AMT_INCOME_TOTAL                         171000.000000
DAYS_BIRTH                               -11961.000000
DAYS_EMPLOYED                             -4786.000000
ORGANIZATION_TYPE                            26.000000
EXT_SOURCE_2                                  0.514163
EXT_SOURCE_3                                  0.661024
DEF_60_CNT_SOCIAL_CIRCLE                      0.000000
AMT_REQ_CREDIT_BUREAU_DAY                     0.000000
AMT_REQ_CREDIT_BUREAU_YEAR                    0.000000
ANNUITY_OVER_CREDIT_RATIO                     0.054592
NAME_INCOME_TYPE_Businessman                  0.000000
NAME_INCOME_TYPE_Commercial associate         1.000000
NAME_INCOME_TYPE_Maternity leave              0.000000
NAME_INCOME_TYPE_Pensioner                    0.000000
NAME_INCOME_TYPE_State servant                0.000000
NAME_INCOME_TYPE_Student                      0.000000
NAME_INCOME_TYPE_Unemployed                   0.000000
NAME_INCOME_TYPE_Working                      0.000000
NAME_INCOME_TYPE_nan                          0.000000
OCCUPATION_TYPE_Accountants                   0.000000
OCCUPATION_TYPE_Cleaning staff                0.000000
OCCUPATION_TYPE_Cooking staff                 0.000000
OCCUPATION_TYPE_Core staff                    0.000000
OCCUPATION_TYPE_Drivers                       0.000000
OCCUPATION_TYPE_HR staff                      0.000000
OCCUPATION_TYPE_High skill tech staff         0.000000
OCCUPATION_TYPE_IT staff                      0.000000
OCCUPATION_TYPE_Laborers                      1.000000
OCCUPATION_TYPE_Low-skill Laborers            0.000000
OCCUPATION_TYPE_Managers                      0.000000
OCCUPATION_TYPE_Medicine staff                0.000000
OCCUPATION_TYPE_Private service staff         0.000000
OCCUPATION_TYPE_Realty agents                 0.000000
OCCUPATION_TYPE_Sales staff                   0.000000
OCCUPATION_TYPE_Secretaries                   0.000000
OCCUPATION_TYPE_Security staff                0.000000
OCCUPATION_TYPE_Waiters/barmen staff          0.000000
OCCUPATION_TYPE_nan                           0.000000
NAME_CONTRACT_TYPE_Cash loans_mean            0.000000
NAME_CONTRACT_TYPE_Consumer loans_mean        1.000000
NAME_CONTRACT_TYPE_POS_mean                   0.000000
NAME_CONTRACT_TYPE_Revolving loans_mean       0.000000
NAME_PORTFOLIO_Cards_mean                     0.000000
NAME_PORTFOLIO_Cars_mean                      0.000000
NAME_PORTFOLIO_Cash_mean                      0.000000
NAME_PORTFOLIO_POS_mean                       1.000000
NAME_CONTRACT_STATUS_Approved_mean            1.000000
NAME_CONTRACT_STATUS_Canceled_mean            0.000000
NAME_CONTRACT_STATUS_Refused_mean             0.000000
NAME_CONTRACT_STATUS_Unused offer_mean        0.000000
AMT_ANNUITY_min                            2296.439941
AMT_ANNUITY_max                           19065.824219
AMT_ANNUITY_mean                          10681.131836
CREDIT_TO_ANNUITY_RATIO_mean                 11.160244
CREDIT_TO_ANNUITY_RATIO_max                  12.977330
APPLICATION_CREDIT_DIFF_min              -23634.000000
APPLICATION_CREDIT_DIFF_max               -2610.000000
APPLICATION_CREDIT_DIFF_mean             -13122.000000
PREV_REFUSED_COUNT_mean                       0.000000
PREV_APPROVED_COUNT_mean                      2.000000
AMT_PAYMENT                              194556.812500
LATE_PAY                                      0.000000
AMT_MISS                                      0.000000
with_previous                                 1.000000

In [44]:
# pipeline = get_model_from_gcp() OKEI
no_bureau_df = get_pickle_gcp(bucket="wagon-data-618-le-banq", file_path='dataframes/no_bureau_df.pkl')

In [41]:
no_bureau_df['TARGET'].value_counts()

0    83284
1     7078
Name: TARGET, dtype: int64

In [43]:
# pipeline = get_model_from_gcp() OKEI
master_encoding_df = get_pickle_gcp(bucket="wagon-data-618-le-banq", file_path='encoders/master_label_encoding.pkl')

In [45]:
master_encoding_df

           ORGANIZATION_TYPE  ORGANIZATION_TYPE_TEXT
0     Business Entity Type 3                       0
1                     School                       1
2                 Government                       2
4                   Religion                       3
5                      Other                       4
8                        NaN                      -1
9                Electricity                       5
10                  Medicine                       6
12    Business Entity Type 2                       7
13             Self-employed                       8
14         Transport: type 2                       9
17              Construction                      10
18                   Housing                      11
19              Kindergarten                      12
21             Trade: type 7                      13
27         Industry: type 11                      14
28                  Military                      15
31                  Services                      16
34       Security Ministries                      17
37         Transport: type 4                      18
41          Industry: type 1                      19
52                 Emergency                      20
57                  Security                      21
61             Trade: type 2                      22
63                University                      23
64         Transport: type 3                      24
65                    Police                      25
73    Business Entity Type 1                      26
78                    Postal                      27
94          Industry: type 4                      28
95               Agriculture                      29
96                Restaurant                      30
136                  Culture                      31
145                    Hotel                      32
148         Industry: type 7                      33
163            Trade: type 3                      34
165         Industry: type 3                      35
191                     Bank                      36
210         Industry: type 9                      37
242                Insurance                      38
293            Trade: type 6                      39
296         Industry: type 2                      40
327        Transport: type 1                      41
525        Industry: type 12                      42
682                   Mobile                      43
695            Trade: type 1                      44
761         Industry: type 5                      45
774        Industry: type 10                      46
951           Legal Services                      47
991              Advertising                      48
1427           Trade: type 5                      49
1609                Cleaning                      50
1659       Industry: type 13                      51
1709           Trade: type 4                      52
1795                 Telecom                      53
2123        Industry: type 8                      54
2236                 Realtor                      55
4668        Industry: type 6                      56

In [46]:
no_bureau_df.columns

Index(['TARGET', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'ORGANIZATION_TYPE', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_YEAR', 'ANNUITY_OVER_CREDIT_RATIO',
       'NAME_INCOME_TYPE_Businessman', 'NAME_INCOME_TYPE_Commercial associate',
       'NAME_INCOME_TYPE_Maternity leave', 'NAME_INCOME_TYPE_Pensioner',
       'NAME_INCOME_TYPE_State servant', 'NAME_INCOME_TYPE_Student',
       'NAME_INCOME_TYPE_Unemployed', 'NAME_INCOME_TYPE_Working',
       'NAME_INCOME_TYPE_nan', 'OCCUPATION_TYPE_Accountants',
       'OCCUPATION_TYPE_Cleaning staff', 'OCCUPATION_TYPE_Cooking staff',
       'OCCUPATION_TYPE_Core staff', 'OCCUPATION_TYPE_Drivers',
       'OCCUPATION_TYPE_HR staff', 'OCCUPATION_TYPE_High skill tech staff',
       'OCCUPATION_TYPE_IT staff', 'OCCUPATION_TYPE_Laborers',
       'OCCUPATION_TYPE_Low-skill Laborers', 'OCCUPATION_TYPE_Managers',
       'OCCUPATION_TYPE_Medicine staff',
       'OCCUPATION_TYPE_Private service staff',
       'OCCUPATION_TYPE_Realty agents', 'OCCUPATION_TYPE_Sales staff',
       'OCCUPATION_TYPE_Secretaries', 'OCCUPATION_TYPE_Security staff',
       'OCCUPATION_TYPE_Waiters/barmen staff', 'OCCUPATION_TYPE_nan',
       'NAME_CONTRACT_TYPE_Cash loans_mean',
       'NAME_CONTRACT_TYPE_Consumer loans_mean', 'NAME_CONTRACT_TYPE_POS_mean',
       'NAME_CONTRACT_TYPE_Revolving loans_mean', 'NAME_PORTFOLIO_Cards_mean',
       'NAME_PORTFOLIO_Cars_mean', 'NAME_PORTFOLIO_Cash_mean',
       'NAME_PORTFOLIO_POS_mean', 'NAME_CONTRACT_STATUS_Approved_mean',
       'NAME_CONTRACT_STATUS_Canceled_mean',
       'NAME_CONTRACT_STATUS_Refused_mean',
       'NAME_CONTRACT_STATUS_Unused offer_mean', 'AMT_ANNUITY_min',
       'AMT_ANNUITY_max', 'AMT_ANNUITY_mean', 'CREDIT_TO_ANNUITY_RATIO_mean',
       'CREDIT_TO_ANNUITY_RATIO_max', 'APPLICATION_CREDIT_DIFF_min',
       'APPLICATION_CREDIT_DIFF_max', 'APPLICATION_CREDIT_DIFF_mean',
       'PREV_REFUSED_COUNT_mean', 'PREV_APPROVED_COUNT_mean', 'AMT_PAYMENT',
       'LATE_PAY', 'AMT_MISS', 'with_previous'],
      dtype='object')

In [48]:
no_bureau_df.drop(columns='TARGET').columns

Index(['CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'ORGANIZATION_TYPE', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_YEAR', 'ANNUITY_OVER_CREDIT_RATIO',
       'NAME_INCOME_TYPE_Businessman', 'NAME_INCOME_TYPE_Commercial associate',
       'NAME_INCOME_TYPE_Maternity leave', 'NAME_INCOME_TYPE_Pensioner',
       'NAME_INCOME_TYPE_State servant', 'NAME_INCOME_TYPE_Student',
       'NAME_INCOME_TYPE_Unemployed', 'NAME_INCOME_TYPE_Working',
       'NAME_INCOME_TYPE_nan', 'OCCUPATION_TYPE_Accountants',
       'OCCUPATION_TYPE_Cleaning staff', 'OCCUPATION_TYPE_Cooking staff',
       'OCCUPATION_TYPE_Core staff', 'OCCUPATION_TYPE_Drivers',
       'OCCUPATION_TYPE_HR staff', 'OCCUPATION_TYPE_High skill tech staff',
       'OCCUPATION_TYPE_IT staff', 'OCCUPATION_TYPE_Laborers',
       'OCCUPATION_TYPE_Low-skill Laborers', 'OCCUPATION_TYPE_Managers',
       'OCCUPATION_TYPE_Medicine staff',
       'OCCUPATION_TYPE_Private service staff',
       'OCCUPATION_TYPE_Realty agents', 'OCCUPATION_TYPE_Sales staff',
       'OCCUPATION_TYPE_Secretaries', 'OCCUPATION_TYPE_Security staff',
       'OCCUPATION_TYPE_Waiters/barmen staff', 'OCCUPATION_TYPE_nan',
       'NAME_CONTRACT_TYPE_Cash loans_mean',
       'NAME_CONTRACT_TYPE_Consumer loans_mean', 'NAME_CONTRACT_TYPE_POS_mean',
       'NAME_CONTRACT_TYPE_Revolving loans_mean', 'NAME_PORTFOLIO_Cards_mean',
       'NAME_PORTFOLIO_Cars_mean', 'NAME_PORTFOLIO_Cash_mean',
       'NAME_PORTFOLIO_POS_mean', 'NAME_CONTRACT_STATUS_Approved_mean',
       'NAME_CONTRACT_STATUS_Canceled_mean',
       'NAME_CONTRACT_STATUS_Refused_mean',
       'NAME_CONTRACT_STATUS_Unused offer_mean', 'AMT_ANNUITY_min',
       'AMT_ANNUITY_max', 'AMT_ANNUITY_mean', 'CREDIT_TO_ANNUITY_RATIO_mean',
       'CREDIT_TO_ANNUITY_RATIO_max', 'APPLICATION_CREDIT_DIFF_min',
       'APPLICATION_CREDIT_DIFF_max', 'APPLICATION_CREDIT_DIFF_mean',
       'PREV_REFUSED_COUNT_mean', 'PREV_APPROVED_COUNT_mean', 'AMT_PAYMENT',
       'LATE_PAY', 'AMT_MISS', 'with_previous'],
      dtype='object')